@charset "utf-8";
/* CSS Document */

.wp_poll_container {
	border: 1px solid #08519B;
}

.wp_poll_container .poll_header_title {
	background-color:#08519B;
	padding:10px;
}

.wp_poll_container .poll_header_title a{
	font-size:20px;
	color:#fff !important;
}

.wp_poll_container .poll_header_content{
	margin-left:20px;
	padding:10px;
	color:#08519B;
}

.wp_poll_container .poll_header_content p{
	font-size:16px;
	margin:0;
}

.no_display{
	display:none;
}

.wp_poll_container .wp_poll_total_submit{
	font-size:14px;
	padding:5px;
	color:#08519B;
	text-align:center;
}

.wp_poll_container span.wp_poll_option_result, .wp_poll_container .wp_poll_total_submit{
	color:#400000;
}



.wp_poll_container .poll_notice {
	position:absolute;
}

.wp_poll_container .wp_poll_select_option{
	margin-left:20px;
	padding:10px;
	color:#08519B;
	font-size:14px;
}

.wp_poll_container .wp_poll_buttons{
	width:220px;
	margin:0 auto;
}

.wp_poll_container .wp_poll_buttons ul {
	display:inline-flex;
	width:100%;
}

.wp_poll_container .wp_poll_buttons ul  li{
	list-style:none;
	margin:0;
	padding:1px;	
	width:50%;
}


