@charset "utf-8";
/* CSS Document */

.poll-list{}
.wp_poll_join_success {display:none;}
.poll-list .single {
  margin-bottom: 30px;
  padding: 10px;
}

.poll-list .single .title a{
  color:#3993D0;
}
.poll-list .single .title a:hover{
  color:#08519B;
}


.poll-list .single.featured {
  background: none repeat scroll 0 0 rgb(255, 248, 191);
}


.poll-list .poll-thumb {
	width:100px;
	float:left;
	margin-right:25px;
}

.poll-list .title {
  display: inline-block;
  font-weight: bold;
}

.poll-list .title a {
	text-decoration:none;
}

.poll-list .poll-content {
  font-size: 13px;
  text-align: left;
}

.poll-list .job_type {
  display: inline-block;
  font-size: 13px;
  padding: 2px 10px;
}

.poll-list .book_list_meta {
  display: inline-block;
  font-size: 13px;
  margin: 5px 4px;
  padding: 2px 10px;
}


.poll-list .paginate {
  text-align: center;
}

.poll-list .paginate .page-numbers {
  background: none repeat scroll 0 0 rgb(84, 207, 116);
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 1px 6px;
  text-decoration: none;
}
.poll-list .paginate .current {
  background: none repeat scroll 0 0 rgb(50, 176, 82);
}






